.home {
  width: 1440px;
  height: 4250px;
  margin: 0px auto;
}
.home .navbar {
  display: flex;
  padding: 50px 109px;
}
.home .navbar a {
  text-decoration: none;
}
.home .navbar a b {
  color: rgb(10, 145, 255);
  font-family: sans-serif;
  font-size: 40px;
}
.home .navbar .pages {
  margin-left: 800px;
}
.home .navbar .pages a {
  margin-left: 40px;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
}
.home .navbar .pages a:hover {
  color: rgb(10, 145, 255);
}
.home .header {
  padding: 0px 109px;
  display: flex;
}
.home .header .left {
  margin-top: 80px;
}
.home .header .left h1 {
  font-size: 50px;
}
.home .header .left p {
  font-family: sans-serif;
}
.home .header .left form {
  margin-top: 50px;
}
.home .header .left form button {
  background-color: #4A99D3;
  color: white;
  width: 180px;
  height: 60px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.home .header .right {
  margin-left: 300px;
}
.home .section1 {
  padding: 109px;
}
.home .section1 h1 {
  font-family: sans-serif;
}
.home .section1 .one {
  display: flex;
}
.home .section1 .one .num1 {
  transition: all 0.4s linear;
  margin-top: 50px;
  width: 380px;
  height: 525px;
  border-radius: 10px;
  background-color: #eaf6fe;
}
.home .section1 .one .num1 img {
  width: 200px;
  height: 150px;
}
.home .section1 .one .num1 h4 {
  margin-top: 25%;
  margin-left: 30px;
  font-family: sans-serif;
}
.home .section1 .one .num1 p {
  font-family: sans-serif;
  margin-left: 30px;
}
.home .section1 .one .num1 h5 {
  font-family: sans-serif;
  color: #4A99D3;
  margin-left: 30px;
  margin-top: 50px;
}
.home .section1 .one .num1:hover {
  background-color: #4A99D3;
  color: white;
  cursor: pointer;
}
.home .section2 {
  width: 100%;
  height: 400px;
  background-color: #cee9fb;
}
.home .section2 h1 {
  padding-top: 100px;
  font-family: sans-serif;
  color: #4A99D3;
}
.home .section2 .all {
  display: flex;
}
.home .section2 .all .num2 {
  margin-left: 16%;
}
.home .section2 .all .num2 img {
  cursor: pointer;
}
.home .section2 .all .num2 h4 {
  font-family: sans-serif;
}
.home .section2 .all .num2 p {
  font-family: sans-serif;
}
.home .section3 {
  padding: 40px 109px;
}
.home .section3 .all {
  display: flex;
}
.home .section3 .all .num4 {
  margin-top: 200px;
  margin-left: 70px;
}
.home .section3 .all .num4 p {
  margin-top: 30px;
  font-family: sans-serif;
}
.home .section3 .all .num4 h4 {
  font-family: sans-serif;
  font-size: 20px;
}
.home .section4 {
  padding: 70px 109px;
}
.home .section4 .all {
  display: flex;
}
.home .section4 .all .right {
  margin-left: 129px;
  margin-top: 114px;
}
.home .section4 .all .right h1 {
  font-family: sans-serif;
}
.home .section4 .all .right p {
  font-family: sans-serif;
  text-align: center;
  opacity: 0.5;
}
.home .section4 .all .right form button {
  width: 172px;
  height: 60px;
  margin-top: 40px;
  background-color: #000000;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 10px;
  transition: all 0.3s linear;
}
.home .section4 .all .right form button:hover {
  background-color: #4A99D3;
  cursor: pointer;
  border: none;
}
.home footer {
  width: 100%;
  height: 290px;
  background-color: #4A99D3;
  display: flex;
  justify-content: space-around;
}
.home footer .num1 h1 {
  color: white;
  font-family: sans-serif;
  cursor: pointer;
}
.home footer .num1 h1 .a {
  color: white;
}
.home footer .num1 h3 {
  margin-top: 40px;
  color: white;
  font-family: sans-serif;
}
.home footer .num1 h4 {
  margin-top: 40px;
  color: white;
  font-family: sans-serif;
}
.home footer .num1 a {
  text-decoration: none;
  color: white;
  opacity: 0.6;
  font-family: sans-serif;
}
.home .line {
  display: flex;
  margin-top: 1px;
  width: 100%;
  height: 40px;
  background-color: #4A99D3;
}
.home .line span {
  margin-top: 10px;
  margin-left: 109px;
  color: white;
  font-family: sans-serif;
}
.home .line .icons {
  margin-left: 800px;
}
.home .line .icons a {
  text-decoration: none;
  color: white;
}
.home .line .icons .icon {
  width: 30px;
  height: 25px;
  margin-left: 10px;
  margin-top: 10px;
}/*# sourceMappingURL=home.css.map */